#wrapper {
    width: 2000px;
    height: 1800px;
    margin-right:auto;
    margin-left: auto;
    font-family: phenomena, sans-serif;
    font-size: 16px;
}

body {
background-color:white;

}
header {
padding-top: 10px;
padding-bottom: 20px;
height: 200px;
text-align: center;
}


nav {
  text-align: center;
  padding-top: 100px;

}
nav ul{
list-style-type: none;
}
nav li{
display: inline;
margin-right: 40px;

}

nav a{
color: black;
text-decoration:none;
font-size: 40px;
font-weight: lighter;
  }

section{
  width: 2000px;
  padding-top: 12px;
  float:left;
  margin-left: 40px;
  height: 1200px;
  }

  .box1 h3{
width: 850px;
font-size: 25px;
margin-left: 90px;
text-align: justify;
font-weight: lighter;
padding-top: 12px;
}

.box1 h1{
text-align: center;
font-size: 35px;
font-weight: lighter;
}
.box1 nav
{
padding-top: 5px;
font-size: 25px;
}

  banner1{
   width: 100%;
   max-width: 2000px;
    margin: auto;
  }

  .eins {
  	position: relative;
  	width: 33.33%;
  	margin: 0;
  	padding: 0;
  	float: left;
  	text-align: center;
  }
  .eins img {
  	max-width: 98%;
  	vertical-align: bottom;
  	}

  banner2{
     width: 100%;
     max-width: 2000px;
      margin: auto;
    }
    .zwei {
    	position: relative;
    	width: 33.33%;
    	margin: 0;
    	padding: 0;
    	float: right;
      padding-top: 12px;
    	text-align: center;
    }
    .zwei img {
    	max-width: 98%;
    	vertical-align: bottom;
      padding-top: auto;
    	}

      banner3{
         width: 100%;
         max-width: 2000px;
          margin: auto;
        }
        .drei {
        	position: relative;
        	width: 33.33%;
        	margin: 0;
        	padding: 0;
        	float: left;
          padding-top: 12px;
        	text-align: center;
        }
        .drei img {
        	max-width: 98%;
        	vertical-align: bottom;
          padding-top: auto;
        	}

          aside{
            width: 850px;
            float: right;
            margin-right: 150px;
          padding-top: 53px;
            }



          .box2 img{
          width:850px;
          height: auto;
          float:left;
          text-align: center;

          }
          .box3 h2{
          text-align: center;
          font-size: 40px;
          font-weight: lighter;
          margin-left: 620px;
          padding-top: 200px;
          color: green;
          }

  footer {
  height: 100px;
  clear: both;
  padding-top: 5px;
  }

  footer a {
    color: black;
    text-decoration:none;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
      }
